* {
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    height: 3em;
    display: flex;
    align-items: center;
}

.company {
    margin-right: auto;
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    padding: 0;
}

li {
    padding: 1em;
}

.header-img {
    text-align: center;
}

img {
    max-width: 90%;
    height: auto;
}

#sections {
    display: flex;
}

.main {
    width: 60%;
}

.sub-section {
    width: 40%;
}







.alert-info {
    background-color: #c0ffff;
    border: #cccccc solid .1em;
    text-align: center;
    padding: 1em;
    width: 100%;
    margin: 1em;

}

